<div class="container header p-3">
    <div class="row">
    <div class="col-5">
      <div class="logo"><h1>logo</h1></div>
    </div>
    <div class="col-7">
      <nav class="nav-pills">
        <input type="checkbox" id="check">
        <label for="check" class="bar-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul class="nav-menu">
        <li class="no-li nav-item"><a class="nav-link active" href="">Inicio</a></li>
        <li class="no-li"><a class="nav-link" href="">Nosotros</a></li>
        <li class="no-li"><a class="nav-link" href="">Estudiantes</a></li>
        <li class="no-li"><a class="nav-link" href="">Campus</a></li>
        <li class="no-li"><a class="nav-link" href="">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>





 