.header{
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-menu{
  padding: 0px 5px 0px 20px;
  position: absolute;
  width: 100%;
  height: 0vh;
  top: 50px;
  background: rgba(0, 0, 0, .6);
  text-align: center;
  transition: all .5%;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 10px 0;
  transition: all .5%;
}

.nav-menu li a{
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
  color: black;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 46vh;
}
#check:checked ~ .nav-menu li{
  display: block;
}

.bar-btn{
  font-size: 25px;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

.logo{
  width: 140px;
  margin-left: 20px;
}
.no-li{
  list-style: none;
  padding: 1px;
}

/*Responsive escritorio*/

@media screen and (min-width:768px){
  .logo{
    margin-left: 50px;
  }
  nav{
    height: 100px;
  }
  .bar-btn{
    display: none;
  }
  .nav-menu{
    position: relative;
    height: 100px;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  .nav-menu li{
    display: inline-block;
    margin: 0;
    transition: none;
  }
  
}