<div class="container">
  <div class="row">
    <div class="col-3">
      <h3>Random Stuff</h3>
      <a href="#">Content 1</a>
      <a href="#">Content 2</a>
      <a href="#">Content 3</a>
      <a href="#">Content 4</a>
    </div>
    <div class="col-3">
      <h3>Random Stuff</h3>
      <a href="#">Content 1</a>
      <a href="#">Content 2</a>
      <a href="#">Content 3</a>
      <a href="#">Content 4</a>
    </div>
    <div class="col-3">
      <h3>Random Stuff</h3>
      <a href="#">Content 1</a>
      <a href="#">Content 2</a>
      <a href="#">Content 3</a>
      <a href="#">Content 4</a>
    </div>
    <div class="col-3">
      <h3>Contact Us</h3>
      <div class="row">
        <div class="col-3">
          <img src="/src/assets/footer_img/twitter.png" alt="" width="25" height="25">
        </div>
        <div class="col-3">
          <img src="/src/assets/footer_img/facebook.png" alt="" width="25" height="25">
        </div>
        <div class="col-3">
          <img src="/src/assets/footer_img/instagram.png" alt="" width="25" height="25">
        </div>
        <div class="col-3">
          <img src="/src/assets/footer_img/pinterest.png" alt="" width="25" height="25">
        </div>
      </div>
    </div>
  </div>
</div>
