<div class="container mainCont">
  
  <div class="row">
    <div class="col-7">
      <div><h1>Institución Educativa</h1>
      <p>Lorem ipsum dolor sit res quia rem accusantium officia nemo maxime cumque sed corrupti neque molestias tempore voluptatem ullam!</p>
      </div>
      
    </div>
  
    <div class="col">
      <div class="col p-3">
        <button type="button" class="btn btn-primary  btn-saber saber">Iniciar sesión</button>
        <button type="button" class="btn btn-primary  btn-saber saber">Saber mas <div class="float-end"><i class="fas fa-book-open alin "></i></div></button>
      </div>
      
    </div>

  </div>
</div>
